# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.db
*.opendb
/DX11_EscNY_3DObject_Parser/x64/Debug
/DX11_EscNY_3DObject_Parser/3DObject_Parser/Pride400-OBJ
*.log
